body {
    background-color: red;
  }
  h1{
    color: red;
    background-color: black;
    text-align: center;
  }
  img{
    margin-left: 800px;
  }
  H23{
    text-align: center;
  }
  h2{
    text-align: center;
  }